
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>

  <body>
     <h1>Enter Calculation</h1>
    <form method="POST" action = "/calc">
      <div class = "form-group">
        <input type="text" name = "calval">
      </div>
      <input class="btn btn-primary" type="submit" value="Calculate">
    </form>
   
    <table>
    <thead>
    <tr>
        <th>Last 10 Calculations</th>

    </tr>
    </thead>
    <tbody>
        {% for row in result %}
            <tr>
                <td>{{row[0]}}</td>

            </tr>
        {% endfor %}       
    </tbody>
</table>
   

  </body>
</html>
